<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find precise_description)/urdf/common.xacro"/>

  <xacro:macro name="precise_flex_transmission" params="name">

    <xacro:default_transmission joint_name="Joint1"/>
    <xacro:default_transmission joint_name="Joint2"/>
    <xacro:default_transmission joint_name="Joint3"/>
    <xacro:default_transmission joint_name="Joint4"/>
    <xacro:default_transmission joint_name="Joint5"/>
    <xacro:default_transmission joint_name="Joint5_mirror"/>

  </xacro:macro>

</robot>